<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t :user_login %><br />
    <%= f.text_field :login, :maxlength => 12 %>
  </div>
  <div class="field">
    <%= f.label t :user_name %><br />
    <%= f.text_field :name, :maxlength => 30 %>
  </div>
  <div class="field">
    <%= f.label t :user_password %><br />
    <%= f.password_field :password, :maxlength => 15 %>
  </div>
  <div class="field">
    <%= f.label t :user_email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t :user_active %><br />
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit t :save %>
  </div>
<% end %>
