<h1><%= (t :users) %></h1>

<table>
  <tr>
    <th><%= t :user_login %></th>
    <th><%= t :user_name %></th>
    <th><%= t :user_password %></th>
    <th><%= t :user_email %></th>
    <th><%= t :user_active %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.name %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= user.active %></td>
    <td><%= link_to t(:show), user %></td>
    <td><%= link_to t(:edit), edit_user_path(user) %></td>
    <td><%= link_to t(:delete), user, :confirm => 'Deseja mesmo deletar?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:users_new), new_user_path %>
