<p id="notice"><%= notice %></p>

<p>
<b><%= t :user_login%></b>
  <%= @user.login %>
</p>

<p>
<b><%= t :user_name %></b>
  <%= @user.name %>
</p>

<p>
<b><%= t :user_password %></b>
  <%= @user.password %>
</p>

<p>
<b><%= t :user_email %></b>
  <%= @user.email %>
</p>

<p>
<b><%= t :user_active %></b>
  <%= @user.active %>
</p>

<%= link_to t :edit, edit_user_path(@user) %> |
<%= link_to t :back, users_path %>
