<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<p>
  <b>Type:</b>
  <%= @category.type %>
</p>

<p>
  <b>User:</b>
  <%= @category.user %>
</p>

<p>
  <b>Active:</b>
  <%= @category.active %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
